@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-background: var(--background);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-gray: var(--neutral-gray);
  --color-success: var(--success);
  --color-success-light: var(--success-light);
  --color-error: var(--error);
  --color-error-light: var(--error-light);
  --color-info:var(--info);
  --color-info-light:var(--info-light);
  --color-warning:var(--warning);
  --color-warning-light:var(--warning-light);
  --color-neutro:var(--neutro);
  --color-neutro-light:var(--neutro-light);
   --color-light-fixed:#f1eeee;
  --color-dark-fixed:#17232b;
}

:root {
  --primary: #ff330f;
  --secondary: #fb7318;
  --tertiary: #f9cb43;
  --quaternary: #a89c29;
  --background: #faf6f6;
  --neutral-light: #fffefe;
  --neutral-dark: #17232b;
  --neutral-gray: #919496;
  --success: #03a138;
  --success-light: #cae9d4;
  --error: #c91313;
  --error-light: #f5bebe;
  --info: #2875e9;
  --info-light: #bedde9;
  --warning: #d8800d;
  --warning-light: #dac099;
  --neutro: #a4a4a5;
  --neutro-light: #e9e9e9;
}

.dark{
   --primary: #fb7318;
  --secondary: #e44124;
  --tertiary: #f9cb43;
  --quaternary: #a89c29;
  --background: #252525;
  --neutral-light: #17232b;
  --neutral-dark: #f1eeee;
  --neutral-gray: #919496;
  --success: #07a53c;
  --success-light: #043a16;
  --error: #c91313;
  --error-light: #3a0a0a;
  --info: #2875e9;
  --info-light: #082733;
  --warning: #d8800d;
  --warning-light: #3a2b14;
  --neutro: #a4a4a5;
  --neutro-light: #353535;
}


html{
  user-select: none !important;
}
/***********************************************************************************/

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}


/***********************************************************************************/

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  display: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-neutral);
  border-radius: 20%;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  width: 8px;
}

/* Cambiamos el fondo cuando esté en active */
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--color-primary);
  width: 8px;    

}

.custom-checkbox:checked::after {
  content: "✓";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem; 
  font-weight: bold;
  color: var(--color-background);
}

/* Para navegadores Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/***********************************************************************************/

.title-bar-drag {
  -webkit-app-region: drag;
}

.title-bar-controls {
  -webkit-app-region: no-drag;
}